<Admin::BackLink @route="admin.index" @text="Admin" />

<Admin::Title @title="Grab and Go" />

<div class="mt-8">
  <UiButton @route="admin.grab-and-go.new" @icon="plus" @size="medium" @variant="plain">
    New
  </UiButton>
</div>

<Admin::UiList class="max-w-lg mt-8" as |List|>
  {{#each (sort-by "title" this.model) as |item|}}
    <List.Item>
      <:default>
        <p class="flex gap-y-1 flex-col sm:flex-row sm:gap-x-2 sm:gap-y-0 sm:items-center">
          <p class="font-semibold">
            {{item.title}}
          </p>

          {{#if item.isSoldOut}}
            <p>
              <Admin::UiBadge @color="red">
                Sold Out
              </Admin::UiBadge>
            </p>
          {{/if}}
        </p>
      </:default>

      <:content>
        <div class="py-2 px-4 flex justify-between">
          <div>
            <Admin::GrabAndGo::MiniForm @item={{item}} />
          </div>

          <div>
            <UiButton
              @route="admin.grab-and-go.edit"
              @model={{item.id}}
              @iconOnly={{true}}
              @icon="pencil-alt"
              @variant="secondary"
            />

            <UiButton
              class="ml-1"
              @iconOnly={{true}}
              @icon="trash-alt"
              @variant="danger"
              @onClick={{fn this.openDeleteModal item}}
            />
          </div>
        </div>
      </:content>
    </List.Item>
  {{else}}
    <List.Item>
      <p class="text-gray-500">
        No grab and go items found.
      </p>
    </List.Item>
  {{/each}}
</Admin::UiList>

<Admin::GrabAndGo::DeleteItemForm
  @isOpen={{this.deleteModalOpen}}
  @special={{this.itemToDelete}}
  @onSave={{this.closeDeleteModal}}
  @onCancel={{this.closeDeleteModal}}
/>

{{outlet}}